################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimekeepAPI/.vs/TimekeepAPI/FileContentIndex
