@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryWhite: #e9f1f7;
  --primaryBlack: #131b23;

  --primaryElement: #2274a5;
  --primaryBackground: #e7dfc6;

  --shadow: #816c61;
}

body {
  color: var(--primaryBlack);
  background: var(--primaryWhite);
  font-family: Arial, Helvetica, sans-serif;
}
